<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wsdy.saasops.modules.sys.dao.SysWarningMapper">

    <select id="list" resultType="com.wsdy.saasops.modules.sys.dto.SysWarningDto">
        SELECT
        *
        FROM
        sys_warning sw
        <where>
            <if test="loginName != null and loginName != ''">
                AND sw.loginName = #{loginName}
            </if>
            <if test="startTime != null and startTime != ''">
                AND sw.createtime <![CDATA[ >= ]]> #{startTime}
            </if>
            <if test="endTime != null and endTime != ''">
                AND sw.createtime <![CDATA[ <= ]]> #{endTime}
            </if>
            <if test="status != null ">
                AND sw.STATUS =  #{status}
            </if>
        </where>

        ORDER BY
        sw.createtime DESC

    </select>
    <select id="getSysWarningByLoginNameAndType" resultType="com.wsdy.saasops.modules.sys.dto.SysWarningDto">
        SELECT * FROM sys_warning sw where loginname = #{loginName} and type = #{type} order by createTime desc limit 1
    </select>
</mapper>