<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.wsdy.saasops.modules.system.systemsetting.dao.StationSetMapper">
    <select id="queryConfigDaysAndScope" resultType="com.wsdy.saasops.modules.system.systemsetting.dto.StationSet">
		select t.sysValue as memberQueryDays,
			   DATE_FORMAT(NOW(), '%Y-%m-%d') as createTimeTo,
		       DATE_FORMAT(date_sub(NOW(), interval t.sysValue-1 day), '%Y-%m-%d') as createTimeFrom 
		  from set_basic_set_sys_setting t where t.sysKey='memberQueryDays'
	</select>

    <insert id="insertSysSetting" parameterType="com.wsdy.saasops.modules.system.systemsetting.entity.SysSetting">
		INSERT INTO set_basic_set_sys_setting (sysKey, sysValue,websiteTerms) VALUES (#{syskey}, #{sysvalue},#{websiteTerms});
	</insert>

	<select id="getPromotionUrl" resultType="com.wsdy.saasops.api.modules.apisys.entity.TcpSiteurl">
		select * from t_cp_siteurl where id in(
			select sysvalue from set_basic_set_sys_setting where syskey='accountPromotion'
		)
	</select>

	<insert id="batchInsertSysSetting" parameterType="com.wsdy.saasops.modules.system.systemsetting.entity.SysSetting">
		INSERT INTO set_basic_set_sys_setting (sysKey, sysValue,websiteTerms) VALUES
		<foreach collection="list" item="item" index="index" separator="," >
			(#{item.syskey}, #{item.sysvalue},#{item.websiteTerms})
		</foreach>
	</insert>

	<select id="getSysSettingList" resultType="com.wsdy.saasops.modules.system.systemsetting.entity.SysSetting">
		SELECT * from set_basic_set_sys_setting where syskey in
		<foreach collection="list" item="item" index="index" separator="," open="(" close=")">
			#{item}
		</foreach>
	</select>

</mapper>