<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wsdy.saasops.modules.system.pay.dao.SetSmallAmountLineMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wsdy.saasops.modules.system.pay.entity.SetSmallAmountLine">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="groupIds" property="groupIds" />
        <result column="updateTime" property="updateTime" />
        <result column="udapyeBy" property="udapyeBy" />
        <result column="remark" property="remark" />
        <result column="available" property="available" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, groupIds, updateTime, udapyeBy, remark, available
    </sql>
    
    
    <select id="selectByGroupId" resultType="com.wsdy.saasops.modules.system.pay.entity.SetSmallAmountLine">
        SELECT id FROM set_small_amount_line WHERE FIND_IN_SET(#{groupId}, groupIds) AND available = 1
    </select>

</mapper>
