<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wsdy.saasops.modules.operate.dao.HelpGuessAskMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wsdy.saasops.modules.operate.entity.HelpGuessAsk">
        <id column="id" property="id" />
        <result column="question" property="question" />
        <result column="answer" property="answer" />
        <result column="orderNo" property="orderNo" />
        <result column="isOpen" property="isOpen" />
        <result column="updater" property="updater" />
        <result column="updatetime" property="updatetime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, question, answer, orderNo, isOpen, updater, updatetime
    </sql>
    
     <select id="queryListPage" resultType="com.wsdy.saasops.modules.operate.entity.HelpGuessAsk">
        SELECT * FROM help_guess_ask 
        <where>
        	<if test="isOpen != null">
        		isOpen = #{isOpen}
        	</if>
        </where>
        ORDER BY orderNo
    </select>

</mapper>
