<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.wsdy.saasops.modules.operate.dao.OprHelpTitleMapper">


	<update id="updatTitleAvailable" parameterType="com.wsdy.saasops.modules.operate.entity.OprHelpTitle">
		update help_title set available=#{available} where id=#{id}
	</update>
	<update id="deleteTitle" parameterType="com.wsdy.saasops.modules.operate.entity.OprHelpTitle">
		update help_title set isdelete=#{isdelete} where id=#{id}
	</update>



</mapper>